%h1 Download 
%ul
  %li= link_to "HTML版 佛典", controller: 'static_pages', action: 'download_html'
  %li= link_to "純文字版 佛典", controller: 'static_pages', action: 'download_text'
  %li= link_to "DocuXml", controller: 'static_pages', action: 'download_docusky'
  %li= link_to "電子書", controller: 'static_pages', action: 'download_ebooks'
  %li= link_to "校注", controller: 'static_pages', action: 'download_footnotes'
