%h1 Download 
%ul
  %li= link_to "HTML版 佛典", controller: 'static_pages', action: 'download_html'
  %li= link_to "純文字版 佛典", controller: 'static_pages', action: 'download_text'
  %li= link_to "DocuXml", controller: 'static_pages', action: 'download_docusky'
  %li
    =link_to "電子書", controller: 'static_pages', action: 'download_ebooks'
    (EPUP, MOBI, PDF, DOCX)
  %li= link_to "校注", controller: 'static_pages', action: 'download_footnotes'
  %li= link_to_path '嘉興藏檢查表', 'download/check-list-J.csv'
  %li= link_to_path '全部作譯者列表', 'download/all-creators.json'
  %li= link_to '範圍選擇清單', { controller: 'static_pages', action: 'scope_selector' }
  %li= link_to '全部佛典 卷列表', '#all_works'
  %li
    統計
    %ul
      %li= link_to '字數統計表', { controller: 'static_pages', action: 'word_count' }
      %li= link_to_path '各朝代 佛典數量', 'download/stat/dynasty-all.csv'

%h2#all_works 全部佛典 卷列表
%p
  URL: 
  = link_to_path nil, 'download/all-works.json'
%p 回傳 JSON 例：
%pre.ml-3
  :preserve
    [
      {
        "work": "Ba001",
        "title": "出版說明",
        "juans": [
          "1"
        ]
      },
      ...
      {
        "work": "T0001",
        "title": "長阿含經",
        "juans": [
          "1",
          "2",
          ...
          "22"
        ]
      },
      ...
    ]
