%h1 統計報表 
%ul
  %li= link_to_path '各朝代 佛典數量', 'download/stat/dynasty-all.csv'

%h2 字數統計
%ul
  %li=link_to "字數統計規則", controller: 'static_pages', action: 'stat_rule'
  %li
    = link_to "全集成統計數字", controller: 'report', action: 'index'
    (含以藏經為單位 字數統計)
  %li
    分部 (以「單部佛典」為單位 做統計)
    %ul
      %li=link_to_path nil, "download/stat/cbeta-word-count.csv"
      %li CSV 欄位： work, chars, chars_no_spaces, cjk_chars, en_words, canon, category, alt
      %li 同一部佛典 可能屬於多個部類，例如 T0310 的 category 欄位是 "寶積部類,淨土宗部類"。
      %li 如果是部分收錄，例如 JA123 的 alt 欄位是 "JA123+L1600"。
  %li
    分冊
    %ul
      %li=link_to_path nil, "download/stat/cbeta-word-count-vol.csv"
      %li CSV 欄位： vol, chars, chars_no_spaces, cjk_chars, en_words
  %li
    分部類
    %ul
      %li=link_to_path nil, "download/stat/cbeta-word-count-cat.csv"
      %li CSV 欄位： category, chars, chars_no_spaces, cjk_chars, en_words

%h2 存取紀錄
%ul
  %li= link_to "日統計表", controller: 'report', action: 'daily'
  %li= link_to "URL 統計表", controller: 'report', action: 'url'
  %li= link_to "Referer 統計表", controller: 'report', action: 'referer'
