%h1 統計報表 
%ul
  %li= link_to_path '各朝代 佛典數量', 'download/stat/dynasty-all.csv'

%h2 字數統計
%ul
  %li=link_to "字數統計規則", controller: 'static_pages', action: 'stat_rule'
  %li
    = link_to "全集成統計數字", controller: 'report', action: 'index'
    (含以藏經為單位 字數統計)
  %li
    =link_to_path '分部', "download/stat/cbeta-word-count.csv"
    (以「單部佛典」為單位 做統計)
  %li=link_to_path '分冊', "download/stat/cbeta-word-count-vol.csv"
  %li=link_to_path '分部類', "download/stat/cbeta-word-count-cat.csv"

%h2 存取紀錄
%ul
  %li= link_to "日統計表", controller: 'report', action: 'daily'
  %li= link_to "URL 統計表", controller: 'report', action: 'url'
  %li= link_to "Referer 統計表", controller: 'report', action: 'referer'
