%h1 限制搜尋範圍
%h2 參數
%table.table
  %tr
    %td 參數名稱
    %td 說明
  %tr
    %td category
    %td
      %p 指定搜某部類, 例：#{link_to_url '/search?q=法鼓&category=阿含部類'}
      %p category 參數值如果為 a,b+c,d 格式，表示 (a OR b) AND (c OR d)。
      %p URL 裡的半形加號要 escape 為 %2b
      %p 例：#{link_to_url '/search?q=大慧&category=禪宗部類%2b史傳部類'}
  %tr
    %td canon
    %td
      指定搜某部藏經，例如只搜大正藏： #{link_to_url '/search?q=法鼓&canon=T'}
      %br
      允許多值： #{link_to_url '/search?q=法鼓&canon=T,X'}
  %tr
    %td work
    %td
      搜某部佛典，例：#{link_to_url '/search?q=法鼓&work=T0026'}
  %tr
    %td works
    %td
      搜某些佛典，例：#{link_to_url '/search?q=法鼓&works=T0026,T0099'}
  %tr
    %td creator 
    %td
      %p 指定「作譯者 ID」，例：#{link_to_url '/search?q=金剛&creator=A000439'}
      %p 多個作譯者：#{link_to_url '/search?q=金剛&creator=A000439,A000294'}
      %p creator 參數值如果為 a,b+c,d 格式，表示 (a OR b) AND (c OR d)。
      %p URL 裡的半形加號要 escape 為 %2b
      %p 例 A000435+A000439：#{link_to_url '/search?q=阿含&creator=A000435%2bA000439'}
  %tr
    %td dynasty
    %td
      %p 指定朝代，例：#{link_to_url '/search?q=金剛&dynasty=隋'}
      %p 多個朝代：#{link_to_url '/search?q=金剛&dynasty=隋,唐'}
  %tr
    %td time
    %td 
      %p 指定某一年：#{link_to_url '/search?q=金剛&time=800'}
      %p 指定範圍：#{link_to_url '/search?q=金剛&time=800..900'}
  %tr
    %td work_type
    %td
      %p 指定文本類型，有兩種可能： textbody, non-textbody.
      %p 指定只在「正文」中搜尋：#{link_to_url '/search?q=金剛&work_type=textbody'}
      %p 指定只在「非正文」中搜尋：#{link_to_url '/search?q=徵稿啓事&work_type=non-textbody'}
  =render partial: 'search-arg-paginate'
