%h1 使用 Sphinx 搜尋：校勘條目、註解
%p.text-danger 警告：本功能將於 2020 Q2 停用，請改用 /sphinx/notes.

%h2 1 參數
%table.table
  %tr
    %td 參數名稱
    %td 說明
  %tr
    %td q
    %td 要搜尋的字詞，於下詳述。
  %tr
    %td start
    %td 分頁回傳的起始 offset，預設為 0.
  %tr
    %td rows
    %td 一次回傳幾筆，預設為 20.
  %tr
    %td facet
    %td 
      %p 是否回傳 facet。
      %p 預設為 0: 不回傳 facet。
      %p 若設為 1 則會回傳四種 facet： 藏經 (canon)、部類 (category)、作譯者 (creator)、朝代 (dynasty)、佛典 (work)。

%h2 2 q 參數
.ml-4
  %p
    例：#{link_to_url '/sphinx/footnotes?q="法鼓"'}

  %p 請注意上面的雙引號不可省略。

  %p 以下範例均要做 URL encode, 例如：
  %pre "波羅蜜" | "波羅密"

  %p 要編碼為
  %pre %22波羅蜜%22%20%7C%20%22波羅密%22

  %h3 2.1 AND
  %p 多個字詞都必須出現。將每個詞用雙引號括起來，再以空格隔開多個字詞。
  %p 例：#{link_to_url '/sphinx/footnotes?q="法鼓" "印順"'}

  %h3 2.2 OR
  %p 例：#{link_to_url '/sphinx/footnotes?q="波羅蜜"|"波羅密"'}

  %h3 2.3 NOT
  %p 例：#{link_to_url '/sphinx/footnotes?q="迦葉" !"迦葉佛"'}

  %h3 2.4 NEAR
  %p 例：#{link_to_url '/sphinx/footnotes?q="阿含" NEAR/5 "迦葉"'}
  %p 上例表示「阿含」跟「迦葉」之間距離不超過5個字。

%h2 3 限制搜尋範圍
%p 參考 #{link_to_url '/static_pages/sphinx_filter'}

%h2 4 回傳資料
.ml-4
  %h3 4.1 排序
  %p 預設依冊號、行號排序。
