%h1 Work
%ul
  %li= link_to '取得某部佛典的資訊', controller: 'static_pages', action: 'work'
  %li= link_to '佛典內目次', controller: 'static_pages', action: 'toc'
  %li= link_to '取得某卷 HTML', controller: 'static_pages', action: 'get_html'
  %li= link_to 'Go to', controller: 'static_pages', action: 'goto'
  %li= link_to '取得行號範圍文字', controller: 'static_pages', action: 'line'
  %li= link_to '字數統計', controller: 'static_pages', action: 'word_count'
