.row.justify-content-center
  .col-auto
    %h1 API 存取統計表 Group by Referer

= render partial: "datepicker" , locals: { url: report_referer_path }

.row.justify-content-center
  .col-auto
    %p
      = "日期範圍：#{@d1} ~ #{@d2}"
      = surround '(', ')' do
        =link_to 'Export CSV', report_referer_path(format: 'csv', d1: @d1, d2: @d2)
    %p
      Total: 
      = number_with_delimiter(@total)
    %table.table-striped.table-bordered
      %tr
        %th Referer
        %th Count
      - total = 0
      - @visits.each do |a|
        - total += a[1]
        %tr
          %td.fit= a[0]
          %td.text-right.fit= number_with_delimiter(a[1])
:javascript
  $( function() {
    report_init_datepicker()
  } );
