<!DOCTYPE html>
<html>
<head>
  <title>CBETA API <%= Rails.configuration.cb.ver %></title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navbar" %>
  <div class="container" style="margin-top: 20px">
    <%= yield %>
  </div>
</body>
</html>
